:root {
  --primary-color: #d366fd;
  --secondary-color: #eddef8;
  --default-font-family: "Comfortaa", cursive;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 96px;
  color: white;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 36px;
  font-weight: bold;
}

h2,
p {
  color: white;
}

.btn-main {
  color: var(--primary-color);
  background: white;
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 80px;
  border: 2px solid white;
  border-radius: 50px;
}

.btn-main:hover {
  color: white;
  background: var(--primary-color);
  border: 2px solid white;
}

.hero {
  background-image: url("/images/background.jpg");
  background-size: cover;
  text-align: center;
  padding: 200px 20px;
}
